@import "tailwindcss";

:root {
  --bright: #ffffff;
  --dark: #171717;
  --neutral: #333;
  --accent: #9966cc;
}

@theme inline {
  --color-dark: var(--dark);
  --color-bright: var(--bright);
  --color-neutral: var(--neutral);
  --color-glow: var(--color-amber-500);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --animate-wiggle: animateGrain 8s steps(10) infinite;
  --animate-button-spin: buttonSpin 20s linear infinite;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --bright: #ededed;
  }
} */

@layer components {
  .gridContainer {
    @apply overflow-hidden border-[0.5px] border-white/10; /* add glow here */
  }

  .film-grain {
    @apply animate-wiggle pointer-events-none fixed top-0 left-0 z-[999] h-[300%] w-[300%] bg-[url(https://upload.wikimedia.org/wikipedia/commons/7/76/1k_Dissolve_Noise_Texture.png)] opacity-10;
  }
}

@keyframes animateGrain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, -20%);
  }
  30% {
    transform: translate(-5%, -10%);
  }
  40% {
    transform: translate(-15%, -20%);
  }

  50% {
    transform: translate(-5%, -10%);
  }
  60% {
    transform: translate(-15%, -20%);
  }
  70% {
    transform: translate(-5%, -10%);
  }
  80% {
    transform: translate(-15%, -20%);
  }
  90% {
    transform: translate(-5%, -10%);
  }
  100% {
    transform: translate(-15%, -20%);
  }
}

@keyframes buttonSpin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
}

.trapezoid-btn {
  clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 15% 100%);
}

@keyframes loadingSpinner {
  to {
    transform: rotate(0.5turn);
  }
}
